.special-card-container {
  overflow: hidden;
  transition: box-shadow 0.2s linear, opacity 0.2s linear;
}

.special-card {
  color: var(--color-font);
}

.special-card-header {
  display: flex;
  align-items: center;
}

.special-card-header--has-title {
  padding: 1rem 1rem 0.375rem 1rem;
}

.special-card-header__title {
  margin: 0;
}

.special-card-header__subtitle {
    margin: 0;
    filter: contrast(0.4);
}

.special-card-header--has-subtitle {
    margin-top: 0.2em;
}

.special-card-body {
  padding: 1rem;
  filter: contrast(0.4);
}

.special-card-footer {
  display: flex;
  padding: 0.5rem;
}
